In [2]:
# Create a simple Pandas Series from a list :
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [ ]:
# The head() method :
import pandas as pd

df = pd.read_csv('data.csv')

print(df.head(10))

In [4]:
# tail() method :
Print the last 5 rows of the DataFrame:

print(df.tail())

SyntaxError: invalid syntax (1140275429.py, line 2)

In [ ]:
# data.json':
import pandas as pd

df = pd.read_json('data.json')

print(df.to_string())

In [ ]:
# Read CSV File
import pandas as pd

df = pd.read_csv('data.csv')

print(df.to_string())

In [ ]:
# create a simple Pandas Series from a dictionary:

import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

In [10]:
# Creating a dataframe using List: DataFrame can be created using a single list or a list of lists.

import pandas as pd
lst = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']
df = pd.DataFrame(lst)
print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [ ]:
# Calling on Series with n parameter():

import pandas as pd
data = pd.read_csv
  n = 9
  series = data["Name"]
  top = series.head(n = n)

In [13]:
#select a column in Pandas DataFram:
 
import pandas as pd
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
df = pd.DataFrame(data)
print(df[['Name', 'Qualification']])

     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

In [ ]:
 # the loc :
import pandas as pd
data = pd.read_csv("nba.csv", index_col ="Name")
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]
print(first, "\n\n\n", second)

In [ ]:
# .ix function :
import pandas as pd
data = pd.read_csv("nba.csv", index_col ="Name")
first = data.ix["Avery Bradley"]
print  (first)

In [21]:
#Pandas GroupBy :
import pandas as pd

# Define a dictionary containing employee data
data1 = {'Name':['Jai', 'Anuj', 'Jai', 'Princi',
				'Gaurav', 'Anuj', 'Princi', 'Abhi'],
		'Age':[27, 24, 22, 32,
			33, 36, 27, 32],
		'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj',
				'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'],
		'Qualification':['Msc', 'MA', 'MCA', 'Phd',
						'B.Tech', 'B.com', 'Msc', 'MA']}
	

df = pd.DataFrame(data1)

print(df)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc
7    Abhi   32    Aligarh            MA

In [23]:
#Create range of dates and show basic features 
data = pd.date_range('1/1/2011', periods = 10, freq ='H')
 
x = pd.datetime.now()
x.month, x.year

C:\Users\hp\AppData\Local\Temp\ipykernel_9276\2422520597.py:4: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  x = pd.datetime.now()

(10, 2022)

In [25]:
 #Timestamp.now():
   t = pandas.tslib.Timestamp.now()
   t

IndentationError: unexpected indent (2897213142.py, line 2)

In [26]:
# With text Data : 
import pandas as pd 
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 
df = pd.DataFrame(data) 
df["Name"]= df["Name"].str.lower()
print(df)

     Name  Age    Address Qualification
0     jai   27      Delhi           Msc
1  princi   24     Kanpur            MA
2  gaurav   22  Allahabad           MCA
3    anuj   32    Kannauj           Phd

In [29]:
 # str.replace(): 
import pandas as pd  
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Knnuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 
df = pd.DataFrame(data) 
df.dropna(inplace = True) 
df["Address"]= df["Address"].str.split("a", n = 1, expand = True) 
print(df)

ValueError: Columns must be same length as key

In [31]:
 # replace:
import pandas as pd
data = pd.read_csv("nba.csv")
data["Age"]= data["Age"].replace(25.0, "Twenty five")
filter = data["Age"]=="Twenty five"
data.where(filter).dropna()

FileNotFoundError: [Errno 2] No such file or directory: 'nba.csv'

In [30]:
 # max_rows
import pandas as pd
print(pd.options.display.max_rows)

60

In [33]:
# Concatenating DataFrame :
import pandas as pd 
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd'],
        'Mobile No': [97, 91, 58, 76]} 
data2 = {'Name':['Gaurav', 'Anuj', 'Dhiraj', 'Hitesh'], 
        'Age':[22, 32, 12, 52], 
        'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'], 
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons'],
        'Salary':[1000, 2000, 3000, 4000]} 
df = pd.DataFrame(data1,index=[0, 1, 2, 3])
df1 = pd.DataFrame(data2, index=[2, 3, 6, 7]) 
print(df, "\n\n", df1)
res2 = pd.concat([df, df1], axis=1, join='inner')
res2

     Name  Age    Address Qualification  Mobile No
0     Jai   27     Nagpur           Msc         97
1  Princi   24     Kanpur            MA         91
2  Gaurav   22  Allahabad           MCA         58
3    Anuj   32    Kannuaj           Phd         76

      Name  Age    Address Qualification  Salary
2  Gaurav   22  Allahabad           MCA    1000
3    Anuj   32    Kannuaj           Phd    2000
6  Dhiraj   12  Allahabad          Bcom    3000
7  Hitesh   52    Kannuaj        B.hons    4000

,Name,Age,Address,Qualification,Mobile No,Name,Age,Address,Qualification,Salary
2,Gaurav,22,Allahabad,MCA,58,Gaurav,22,Allahabad,MCA,1000
3,Anuj,32,Kannuaj,Phd,76,Anuj,32,Kannuaj,Phd,2000